body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(to right,#f5c6e7,#add8e6);
}

.header {
  text-align: center;
  padding: 20px;
}

.header button {
  padding: 8px 15px;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-card {
  width: 250px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

.blog-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal {
  background: #fff;
  width: 90%;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.post-button{
  background-color: green;
  border-radius: 8px;
  color:white;
  cursor: pointer;
}

.close-button{
  background-color: rgb(138, 29, 29);
  border-radius: 8px;
  color: white;
  cursor: pointer;

}

.edit-button{
  background-color: green;
  border-radius: 8px;
  color:white;
  cursor: pointer;
}

.delete-button{
  background-color: rgb(138, 29, 29);
  border-radius: 8px;
  color: white;
  margin-left: 90px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .blog-card {
    width: 90%;
  }
}
